<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wolfsoft.one.cg">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_lifouta"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashscreen.SpalshScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".virement.Virement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashscreen.NoImei"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".login.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ConfirmationConnexion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment.Payment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".payment.Confirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transfert.Transfert"
            android:screenOrientation="portrait" />
        <activity
            android:name=".credits.Credits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".epargne.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".epargne.FromCCtoSC" />
        <activity android:name=".epargne.ConfirmerDeposit" />
        <activity android:name=".epargne.ConfirmationTransactionDeposit"></activity>
    </application>

</manifest>